@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override react-calendar default styles */
.react-calendar {
  background: #fff !important;
  color: #000 !important;
}
.react-calendar_month-view_weekdays {
  text-decoration: none !important;
}

/* Hover states in light mode */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #e6e6e6 !important;
}

/* Dark mode overrides */
html.dark .react-calendar {
  background: #000 !important;
  color: #fff !important;
}

/* Hover states in dark mode */
html.dark .react-calendar__tile:enabled:hover,
html.dark .react-calendar__tile:enabled:focus {
  background: #333 !important;
}
